<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="row align-items-center"></div>            
      <div class="col-md-12">
            <h1>Welcome to My Book Blog!</h1>
            <!-- Paragraph text inside a container -->
             <img src="/images/banner.jpeg" alt="About the Author" class="img-fluid rounded-circle shadow-lg">
            <div class="p-4 rounded-3" style="background-color: #F2F2F2; border: 1px solid #EAE4D5;">
                <p>
                    This platform is a personal space dedicated to the wonderful world of books. Whether you're an avid reader, looking for your next great read, or simply curious about literary adventures, you've come to the right place.
                </p>
                <p>
                    Here, you can:
                </p>
                <ul>
                    <li><strong>Create Your Own Posts:</strong> Share your thoughts, reviews, and insights on books you've read.</li>
                    <li><strong>View All Posts:</strong> Browse through a collection of diverse book-related content.</li>
                    <li><strong>Edit & Delete:</strong> Easily manage your posts to keep your content fresh and accurate.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
 

<%- include("partials/footer.ejs") %>
