    <footer>
        <div class="container py-4" id="subscribe"> <h2 class="mb-3">Subscribe to Our Newsletter</h2>
            <form class="row row-cols-lg-auto g-3 align-items-center justify-content-center"> <div class="col-12">
                    <label class="visually-hidden" for="inlineFormInputGroupUsername">Enter your email here </label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="enter your email here">
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn">Subscribe</button> </div>
            </form>
            <p class="text-center mt-3">&copy; 2025 Books Corner. All rights reserved.</p>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>
</html>